

#loginButton {
    text-align: center;
    justify-content: center;
}

#welcome {
    text-align: center;
}

.buttons{
    margin: 3px;
}

.forms{
    margin: 3px;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}
