<h1 id="welcome">Regisztráció</h1>
<div id="register">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label for="email">Email</mat-label><input type="text" formControlName="email" />
            <mat-label for="password">Jelszó</mat-label><input type="password" formControlName="password" />
            <mat-label for="passwordAgain">Jelszó megerősítése</mat-label><input type="password" formControlName="passwordAgain" />
        </mat-form-field>
        <mat-form-field formGroupName="name">
            <mat-form-field>
                <mat-label for="firstName">Vezetéknév</mat-label><input type="text" formControlName="firstName" />
                <mat-label for="lastName">Keresztnév</mat-label><input type="text" formControlName="lastName" />
            </mat-form-field>
        </mat-form-field>
        <mat-form-field>
            <label for="address">Lakcím</label><input type="text" formControlName="address" />
        </mat-form-field>
        <div id="registerButton">
            <button type="submit">Regisztráció</button>
            <button (click)="onCancel()">Mégse</button>
        </div>

    </form>
</div>