div{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

#listing{
    width: fit-content;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}