div{
    justify-content: center;
    text-align: center;
    display: inline-block;
}

#listing{
    width: min-content;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

#productImg{
    width: 260px;
    height: 180px;
}